[submodule "external/GeographicLib"]
	path = external/GeographicLib
	url = https://github.com/geographiclib/geographiclib.git
[submodule "external/googletest"]
	path = external/googletest
	url = https://github.com/google/googletest.git
[submodule "external/sgp4"]
	path = external/sgp4
	url = https://github.com/dnwrnr/sgp4.git

